---
import { Image } from '@astrojs/image/components';
import github from "@assets/logos/github.svg";
import world from "@assets/logos/world.svg";
interface Props {
  img?: string;
  url?: string;
  title?: string;
  description?: string;
  urlrepo?: string;
  urllive?: string;
  ruteTech?: string[];
  children?: HTMLElement | HTMLElement[];
}

const {
  url = "url",
  img = "Project img",
  title = "Project title",
  description = "Project description",
  urlrepo = "url rpo",
  urllive = "url live",
  ruteTech,
} = Astro.props;
---
<article
		data-testId="card"
		class="w-[330px] lg:w-auto rounded-xl bg-light shadow-lg duration-100 hover:scale-105 hover:transform hover:shadow-xl"
	>
		<a href={url}
		class="rounded-t-xl" 
		target="_blank"
		aria-label="link to project">
				<Image
					class:list={`rounded-t-xl`}
					src={img}
					alt={title}
					aspectRatio="4:4"
					format="png"
					width={400}
					height={220}
					loading="eager"
				/>
		</a>
		<section class="p-5">
			<a href={url} target="_blank">
			  <h5
				class="mb-2 text-2xl text-darkness uppercase font-bold font-Raleway"
			  >
				{title}
			  </h5>

			</a>
			<p class="mb-3 font-Raleway text-shadow">
			  {description}
			</p>
		  </section>
		  <section class="flex justify-between p-5">
			{
			  ruteTech && (
				<div class="flex gap-2">
				  {ruteTech.map((tech) => (
					<Image
					  src={tech}
					  alt="javascript"
					  format="svg"
					  width={25}
					  height={25}
					  loading="eager"
					/>
				  ))}
				</div>
			  )
			}
			<div class="flex gap-2">
			  <a href={urlrepo} target="_blank">
				<Image
				  src={github}
				  alt="imagen"
				  format="svg"
				  width={25}
				  height={25}
				  loading="eager"
				/>
			  </a>
			  <a href={urllive} target="_blank">
				<Image
				  src={world}
				  alt="imagen"
				  format="svg"
				  width={25}
				  height={25}
				  loading="eager"
				/>
			  </a>
			</div>
         </section>
</article>
