---
import { Image } from "@astrojs/image/components";
import projectsList from "@content/projects.json";
import CardProject from "./CardProject.astro";
import js from "@assets/logos/javascript.svg";
import ts from "@assets/logos/typescript.svg";
import react from "@assets/logos/react.svg";
import next from "@assets/logos/nextjs.svg";
import tailwind from "@assets/logos/tailwindcss.svg";

interface ProjectsList {
	img: string;
	url: string;
	title: string;
	description: string;
	urlrepo: string;
	urllive: string;
	ruteTech: string[]
}
---

<section
	data-testid="projects"
	id="projects"
	class="mt-16 p-8 lg:p-0 lg:mt-0"
>
	<header class="grid place-content-center place-items-center lg:mb-10">
		<h2 class="font-Code uppercase text-2xl text-shadow dark:text-faint lg:text-4xl">Projects</h2>
		<span class="h-1 w-10 bg-shadow dark:bg-faint"></span>
	</header>

	<div class="flex items-center justify-center lg:justify-start p-8 lg:mr-auto">
		<h1 class="hidden font-Code text-xl font-bold text-darkness dark:text-faint lg:block">
			My Favorite Tech
		</h1>
		<section class="m-2 flex">
			<Image
				class:list={`h-8 lg:h-10`}
				src={js}
				alt="JavaScript"
				aspectRatio="4:4"
				format="svg"
				width={50}
				height={50}
			/>
			<Image
				class:list={`h-8 lg:h-10`}
				src={ts}
				alt="TypeScript"
				aspectRatio="4:4"
				format="svg"
				width={50}
				height={50}
			/>
			<Image
				class:list={`h-8 lg:h-10`}
				src={react}
				alt="React"
				aspectRatio="4:4"
				format="svg"
				width={50}
				height={50}
			/>
			<Image
				class:list={`h-8 w-8 lg:h-10 lg:w-10`}
				src={next}
				alt="NextJS"
				aspectRatio="4:4"
				format="svg"
				width={50}
				height={50}
			/>
			<Image
				class:list={`h-8 lg:h-10`}
				src={tailwind}
				alt="Tailwind"
				aspectRatio="4:4"
				format="svg"
				width={50}
				height={50}
			/>
		</section>
	</div>
	<div class="w-full grid grid-flow-col lg:grid-flow-row lg:grid-cols-3 xxl:grid-cols-4 p-4 xl:p-8 gap-2 lg:gap-20 xxl:gap-10 overflow-x-auto scrolling-touch">
		{
			projectsList.map((project: ProjectsList) => (
				<CardProject
					img={project.img}
					url={project.url}
					title={project.title}
					description={project.description}
					urlrepo={project.urlrepo}
					urllive={project.urllive}
					ruteTech={project.ruteTech}
				/>
			))
		}
	</div>
	<a
		href="https://github.com/Breims?tab=repositories"
		target="_blank"
		rel="noopener"
		class="flex items-center justify-center text-center font-Raleway font-semibold text-shadow dark:text-faint hover:text-faint dark:hover:text-bond md:text-base lg:text-lg lg:mb-10"
		aria-label="link to repository"
	>
		View full private projects archive
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="ml-1 h-6 w-6"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
		</svg>
	</a>
</section>
