---
import { Image } from "@astrojs/image/components";
import { Astronav, MenuIcon, MenuItems } from "astro-navbar";
import ToggleTheme from "@components/ui/ToggleTheme.astro";
import breimDark from "@assets/logos/breimsW.webp";
import breim from "@assets/logos/breimD.webp";

const menuitems = [
	{
		title: "Home",
		path: "#home",
	},
	{
		title: "About me",
		path: "#about",
	},
	{
		title: "Projects",
		path: "#projects",
	},
	{
		title: "Studies",
		path: "#credentials",
	},
	{
		title: "Contact",
		path: "#contact",
	},
];

const styleshadow = "bg-light backdrop-blur-md bg-opacity-90";
const styleDark = "dark:bg-darkness dark:backdrop-blur-md dark:bg-opacity-95";
---

<header
	data-testId="header"
	class={`py-4 flex flex-col items-center justify-between lg:flex-row fixed z-10 w-full top-0 right-0 left-0 px-10 lg:px-14 xxl:px-36 font-Raleway uppercase font-bold ${styleshadow} ${styleDark}`}
>
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<figure id="logo">
				<Image
					class:list={`hidden dark:block h-auto w-12`}
					src={breimDark}
					alt="imagen"
					format="webp"
					width={55}
					height={52}
					aspectRatio="16:9"
					loading="eager"
				/>
				<Image
					class:list={`block dark:hidden h-auto w-12`}
					src={breim}
					alt="imagen"
					format="webp"
					width={55}
					height={52}
					aspectRatio="16:9"
					loading="eager"
				/>
			</figure>

			<div class="block lg:hidden">
				<MenuIcon class="h-10 w-10 text-darkness dark:text-light" />
			</div>
		</div>
		<MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
									class="flex py-2 text-shadow hover:text-darkness dark:text-light dark:hover:text-faint lg:px-3"
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
				<li class="lg:m-auto"><ToggleTheme /></li>
			</ul>
		</MenuItems>
	</Astronav>
</header>
<script>
	const logoBreim = document.getElementById("logo") as HTMLAnchorElement;
	logoBreim.addEventListener("click", (event: MouseEvent) => {
		event.preventDefault();
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	});
</script>
